<main>
  <h1>Hanzi Helper Dashboard</h1>
  <div class='tab'>
    <button class='tab-link'>Learn</button>
    <button class='tab-link'>Info</button>
  </div>
  <div id='learn-tab' class='tab-content hidden'>
    <div class='dash__decks'>
      {{#if noDecks}}
        <h3>You don't have any decks! Add an existing deck or create one of your
          own!</h3>
      {{else}}
        <ul class='decks__list'>
          {{#each decks}}
            <li class='decks__item'>
              <a class='decks__item-main' href="/learn/deck/{{this.id}}">
                <h3>{{this.title}}</h3>
                <p>To revise: {{this.revisionCards}}</p>
                <p>To refresh: {{this.refreshCards}}</p>
                <p>To learn: {{this.unlearnedCards}}</p>
              </a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
  <div id='info-tab' class='tab-content hidden'>
    <div class='dash__decks-info'>
      {{#if noDecks}}
        <h3>You don't have any decks! Add an existing deck or create one of your
          own!</h3>
      {{else}}
        <ul class='decks__list'>
          {{#each decks}}
            <li class='decks__item'>
              <button class='collapsible'>
                {{this.title}}
              </button>
              <div class='collapsible-content hidden'>
                <p>Description: {{this.description}}</p>
                <p>Total cards: {{this.cards.length}}</p>
                <p>Learning since: {{this.createdAt}}</p>
              </div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
  <div class='dash__actions'>
    <ul class='dash__action-list'>
      <li class='dash__action-item'>
        <button type='button'>ADD</button>
      </li>
      <li class='dash__action-item hidden'>
        <button type='button'>Add deck</button>
      </li>
      <li class='dash__action-item hidden'>
        <button type='button'>Create custom deck</button>
      </li>
      <li class='dash__action-item hidden'>
        <button type='button'>Add card</button>
      </li>
    </ul>
  </div>
</main>